## Acled data

In [1]:
import pandas as pd

In [3]:
acled = pd.read_csv('../Downloads/1900-01-01-2020-06-23.csv')

In [4]:
acled.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,7131137,760,SYR79353,79353,20 June 2020,2020,1,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Armed Group (Syria),...,Kahil,32.6191,36.2668,2,Facebook; SY24; Liveuamap; SHAM; Jisr; SOHR,Local partner-New media,"On 20 June 2020, an IED planted by an unidenti...",9,1592854827,SYR
1,7129090,364,IRN6603,6603,20 June 2020,2020,1,Protests,Peaceful protest,Protesters (Iran),...,Hamadan,34.7992,48.5146,1,Human Rights Activists News Agency,Other,"On 20 June 2020, a group of live stock farmers...",0,1592841584,IRN
2,7129860,788,TUN6686,6686,20 June 2020,2020,1,Protests,Peaceful protest,Protesters (Tunisia),...,Kairouan,35.6781,10.0963,1,Al Chourouk,National,"On 20 June 2020, citizens and civil society ac...",0,1592852504,TUN
3,7130116,120,CAO3402,3402,20 June 2020,2020,2,Battles,Armed clash,Military Forces of Cameroon (1982-),...,Manyu Division,5.8333,9.5000,2,Mimi Mefo,New media,"Around 20 June 2020, military forces ambushed ...",1,1592852505,CMR
4,7129606,484,MEX19779,19779,20 June 2020,2020,1,Protests,Peaceful protest,Protesters (Mexico),...,Ciudad del Carmen,18.6378,-91.8365,1,Tribuna Campeche,Subnational,"On 20 June 2020, in Ciudad del Carmen, Campech...",0,1592850009,MEX

In [5]:
acled.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'region', 'country', 'admin1', 'admin2', 'admin3',
       'location', 'latitude', 'longitude', 'geo_precision', 'source',
       'source_scale', 'notes', 'fatalities', 'timestamp', 'iso3'],
      dtype='object')

In [16]:
acled.groupby('actor1').sum()['fatalities'].reset_index().sort_values('fatalities', ascending=False).head(20)

                                                 actor1  fatalities
4601                  Military Forces of Angola (1975-)      122346
4662            Military Forces of Ethiopia (1995-2018)       88397
4593             Military Forces of Afghanistan (2014-)       76160
5032  Military Forces of Yemen (2016-) Supreme Polit...       55060
4918                   Military Forces of Syria (2000-)       37399
4714                Military Forces of Iraq (2014-2018)       33000
7952                                            Taliban       26961
3035                               Islamic State (Iraq)       25878
5001                   Military Forces of Yemen (2012-)       24540
4906               Military Forces of Sudan (1989-2019)       23851
2375                     Global Coalition Against Daesh       20594
8199  UNITA: National Union for the Total Independen...       18444
5866                           Operation Restoring Hope       18394
3837                         LRA: Lords Resistance Army       14822
7415    SPLM/A: Sudan People's Liberation Movement/Army       13403
1155  Boko Haram - Jamatu Ahli is-Sunnah lid-Dawatai...       12811
418                                          Al Shabaab       12184
4893             Military Forces of South Sudan (2011-)       11474
4818                 Military Forces of Nigeria (2015-)       10706
5026  Military Forces of Yemen (2015-2016) Supreme R...        9940

In [17]:
len(acled.actor1.unique())

8770

In [15]:
acled.groupby('actor1').count()['data_id'].reset_index().sort_values('data_id', ascending=False).head(20)

                                                 actor1  data_id
6865                                 Protesters (India)    53662
6903                              Protesters (Pakistan)    41056
4918                   Military Forces of Syria (2000-)    31178
7952                                            Taliban    26242
5866                           Operation Restoring Hope    20310
5032  Military Forces of Yemen (2016-) Supreme Polit...    15663
5477            NAF: United Armed Forces of Novorossiya    15133
4593             Military Forces of Afghanistan (2014-)    12672
7227                                    Rioters (India)    12425
4988             Military Forces of Ukraine (2014-2019)    12241
4605                 Military Forces of Artsakh (2007-)     9556
8390                   Unidentified Armed Group (Syria)     7796
7179                               Rioters (Bangladesh)     7656
2375                     Global Coalition Against Daesh     7322
6890                                Protesters (Mexico)     7275
8383                 Unidentified Armed Group (Somalia)     6864
4992                 Military Forces of Ukraine (2019-)     6423
8366                Unidentified Armed Group (Pakistan)     6276
6924                          Protesters (South Africa)     6099
5001                   Military Forces of Yemen (2012-)     6060

In [9]:
acled.groupby('sub_event_type').count()['data_id'].reset_index().sort_values('data_id')

                         sub_event_type  data_id
7                       Chemical weapon      112
12     Headquarters or base established     1080
1                             Agreement     1551
23                         Suicide bomb     1835
21                      Sexual violence     2290
9    Excessive force against protesters     2922
16    Non-violent transfer of territory     3443
17                                Other     3739
11                              Grenade     4153
4                               Arrests     4775
15  Non-state actor overtakes territory     4948
8                 Disrupted weapons use     5263
0        Abduction/forced disappearance     7622
6              Change to group/activity     7886
10         Government regains territory     8353
13         Looting/property destruction     9266
19            Protest with intervention    15386
14                         Mob violence    28851
20        Remote explosive/landmine/IED    32012
24                Violent demonstration    36249
2                      Air/drone strike    57309
22    Shelling/artillery/missile attack    63440
5                                Attack    90800
3                           Armed clash   182087
18                     Peaceful protest   214199

In [11]:
gdeltsample = pd.read_csv('../Downloads/20191103.export.CSV', sep='\t')

In [12]:
gdeltsample

,884006421,20181103,201811,2018,2018.8301,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,-1113265,4.1,"Managua, Managua, Nicaragua.1",NU.1,NU10.1,12.1508.1,-86.2683.1,-1113265.1,20191103,https://apnews.com/55fc8b9bf3d9402a8220208b99a72508
0,884006422,20181103,201811,2018,2018.8301,NaN,NaN,NaN,NaN,NaN,...,943985,3,"Binghamton, New York, United States",US,USNY,42.09870,-75.9180,943985,20191103,https://apnews.com/55fc8b9bf3d9402a8220208b99a...
1,884006423,20181103,201811,2018,2018.8301,NaN,NaN,NaN,NaN,NaN,...,-1113265,4,"Managua, Managua, Nicaragua",NU,NU10,12.15080,-86.2683,-1113265,20191103,https://apnews.com/55fc8b9bf3d9402a8220208b99a...
2,884006424,20181103,201811,2018,2018.8301,NaN,NaN,NaN,NaN,NaN,...,943985,3,"Binghamton, New York, United States",US,USNY,42.09870,-75.9180,943985,20191103,https://apnews.com/55fc8b9bf3d9402a8220208b99a...
3,884006425,20181103,201811,2018,2018.8301,CUB,CUBAN,CUB,NaN,NaN,...,NaN,4,"Managua, Managua, Nicaragua",NU,NU10,12.15080,-86.2683,-1113265,20191103,https://apnews.com/55fc8b9bf3d9402a8220208b99a...
4,884006426,20181103,201811,2018,2018.8301,CUB,CUBAN,CUB,NaN,NaN,...,NaN,1,Cuba,CU,CU,22.00000,-79.5000,CU,20191103,https://apnews.com/55fc8b9bf3d9402a8220208b99a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87074,884140720,20191103,201911,2019,2019.8301,YEMMED,SANA,YEM,NaN,NaN,...,-2549056,4,"Abu Rasin, Dayr az Zawr, Syria",SY,SY07,35.31870,40.9276,11503931,20191103,https://www.veteranstoday.com/2019/11/03/saa-d...
87075,884140721,20191103,201911,2019,2019.8301,YEMMED,SANA,YEM,NaN,NaN,...,11503931,4,"Abu Rasin, Dayr az Zawr, Syria",SY,SY07,35.31870,40.9276,11503931,20191103,https://www.veteranstoday.com/2019/11/03/saa-d...
87076,884140722,20191103,201911,2019,2019.8301,idg,INDIGENOUS,NaN,NaN,idg,...,NaN,5,"Northern Territory, Northern Territory, Australia",AS,AS03,-20.00000,134.0000,-1592100,20191103,https://www.news.com.au/national/breaking-news...
87077,884140723,20191103,201911,2019,2019.8301,idg,INDIGENOUS,NaN,NaN,idg,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.8290,-2679652,20191103,https://news.mongabay.com/2019/11/proposed-new...
87078,884140724,20191103,201911,2019,2019.8301,idg,INDIGENOUS,NaN,NaN,idg,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.8290,-2679652,20191103,https://news.mongabay.com/2019/11/proposed-new...